/*  CSS REST CONFIGURATION  */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Fester', sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/*  CSS CUSTOM PROPERTIES  */

:root {
    /* COLOR PLATE */
    --dark-green: #114E46;
    --royal-blue: #4169e1;
    --off-white: #F5F5F5;
    --anthracite: #36454F;
    --burgundy: #800020;

    /*  Font sizes and weights  */
    --fs-lrg: 1.3125rem;
    --fs-xlrg: 1.875rem;
    --fs-xxlrg: 2.25rem;

    --fw-light: 300;
    --fw-semibold: 500;
    --fw-bold: 700;
}

/*  VARIABLE FONT FACE  */

@font-face {
    font-family: 'BPdotsSquares';
    src: url('vFonts/BPdotsSquares.woff2') format('woff2-variations');
    font-weight: 0 1000;
    font-display: swap;
}

@font-face {
    font-family: 'DreamAvenue';
    src: url('vFonts/DreamAvenue.woff2') format('woff2-variations');
    font-weight: 0 1000;
    font-display: swap;
}

@font-face {
    font-family: 'Fester';
    src: url('vFonts/Fester.woff2') format('woff2-variations');
    font-weight: 0 1000;
    font-display: swap;
}

/* CSS styles */

.banner {
    background-color: var(--dark-green);
    padding: 1rem 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    /* border: 2px solid yellow; */
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 18%;
}

.navList {
    list-style-type: none;
    padding: 2rem 0;
    gap: .75rem;

    /* border: 2px solid blue; */
}

/* .navItem {} */

.navLink {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    border-radius: 999rem;
    box-shadow: 0px 1px 1px #000;
}

.navLink:hover,
.navLink:focus {
    opacity: 0.7;
}

.linkedin {
    background-color: #0A66C2;
}

/* .fa-linkedin-in {
    background-color: #0A66C2;
    padding: 1rem;
    border-radius: 999rem;
} */

.xing {
    background-color: #0698A0;
}

/* .fa-xing {
    background-color: #0698A0;
    padding: 2rem;
    border-radius: 9999rem;
} */

.hero {
    background-color: var(--dark-green);
    color: var(--off-white);

}

.hero__content {
    align-items: center;
}

.author {
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.author-image img {
    border-radius: 999rem;
    border: solid 6px var(--off-white);
}

.author p {
    background-color: var(--off-white);
    color: var(--dark-green);
    font-size: var(--fs-lrg);
    font-weight: 1000;
    font-style: italic;
    border-radius: 999rem;
    padding: .25rem 1rem;
}

.profession {
    font-family: 'DreamAvenue';
    font-size: var(--fs-xxlrg);
    font-weight: 1000;
    color: var(--off-white);
}

.location {
    gap: .5rem;
}

.hero__links {
    width: 100%;
    gap: 1.5rem;
    padding: 3rem 0;
}

.hero__links--list {
    list-style-type: none;
    width: 100%;
}

.portfolio, 
.social {
    gap: 1rem;
    padding: 0;
    justify-content: center;
}

.portfolio__link,
.social__link {
    color: var(--off-white);
    text-decoration: none;
}

.github {
    background-color: #171515;
    padding: 1rem 1.5rem;
    border-radius: 999rem;
    font-weight: var(--fw-bold);
    box-shadow: 0px 1px 1px #000;
}

.dribbble {
    background-color: #EA4C89;
    padding: 1rem 1.5rem;
    border-radius: 999rem;
    font-weight: var(--fw-bold);
    box-shadow: 0px 1px 1px #000;
}