/*  CSS REST CONFIGURATION  */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Fester', sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/*  CSS CUSTOM PROPERTIES  */

:root {
    /* COLOR PLATE */
    --dark-green: #114E46;
    --white: #fff;
    --burgundy: #800020;

    /*  Font sizes and weights  */
    --fs-lrg: 1.3125rem; /* == 21px */
    --fs-xlrg: 1.875rem; /* == 30px */
    --fs-xxlrg: 2.75rem; /* == 44px */

    --fw-light: 300;
    --fw-semibold: 500;
    --fw-bold: 700;
}

/*  VARIABLE FONT FACES  */

@font-face {
    font-family: 'DreamAvenue';
    src: url('vFonts/DreamAvenue.woff2') format('woff2-variations');
    font-weight: 0 1000;
    font-display: swap;
}

@font-face {
    font-family: 'Fester';
    src: url('vFonts/Fester.woff2') format('woff2-variations');
    font-weight: 0 1000;
    font-display: swap;
}

/* CSS styles */

.banner {
    background-color: var(--dark-green);
    padding: 1rem 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    /* border: 2px solid yellow; */
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 18%;
    align-self: center;
}

.navList {
    list-style-type: none;
    padding: 1rem 0;
    gap: .75rem;

    /* border: 2px solid lightblue; */
}

/* .navItem {} */

.navLink {
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
    border-radius: 999rem;
    box-shadow: 0px 1px 1px #000;
}

.navLink:hover,
.navLink:focus {
    opacity: 0.7;
}

.linkedin {
    background-color: #0A66C2;
}

.xing {
    background-color: #0698A0;
}

.hero {
    background-color: var(--dark-green);
    color: var(--white);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0px 2px 2px #000;
    text-align: center;
}

.hero__content {
    align-items: center;
}

.author {
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.author-image img {
    border-radius: 999rem;
    border: solid 3px var(--white);
}

.author p {
    background-color: var(--white);
    color: var(--dark-green);
    font-size: var(--fs-lrg);
    font-weight: 1000;
    font-style: italic;
    border-radius: 999rem;
    padding: .25rem 1rem;
    margin-bottom: 1rem;
}

.profession {
    font-family: 'DreamAvenue';
    font-size: var(--fs-xxlrg);
    font-weight: 1000;
    color: var(--white);
    line-height: 1;
}

.location {
    gap: .5rem;
    justify-content: center;
}

.hero__links {
    width: 100%;
    margin-top: 2rem;
}

.hero__links ul {
    margin-bottom: 2rem;
}

.hero__links--list {
    list-style-type: none;
    width: 100%;
}

.portfolio, 
.social {
    gap: 1rem;
    padding: 0;
    justify-content: center;
}

.portfolio__link,
.social__link {
    color: var(--white);
    text-decoration: none;
}

.github {
    background-color: var(--white);
    color: #000;
    padding: 1rem 1.5rem;
    border-radius: 999rem;
    font-weight: var(--fw-bold);
    box-shadow: 0px 1px 1px #000;
}

.dribbble {
    background-color: #EA4C89;
    padding: 1rem 1.5rem;
    border-radius: 999rem;
    font-weight: var(--fw-bold);
    box-shadow: 0px 1px 1px #000;
}

.social__link {
    opacity: 0.5;
}

.portfolio__link:hover,
.portfolio__link:focus {
    opacity: 0.7;
}

.social__link:hover,
.social__link:focus {
    opacity: 1;
}

.intro {
    text-align: center;
    padding: 2rem 0;
}

.intro h2,
.techStack h2 {
    font-family: 'DreamAvenue';
    color: var(--burgundy);
    font-size: var(--fs-xxlrg);
    font-weight: 1000;
}

.intro h4 {
    margin-bottom: 2rem;
    font-size: var(--fs-lrg);
}

.intro img {
    margin-top: 1rem;
}

.intro p {
    margin-top: 1rem;
    font-size: var(--fs-lrg);
}


.techStack {
    background-color: var(--dark-green);
    padding: 2rem 0;
}

.techStack h2 {
    text-align: center;
    color: var(--white);
    margin-bottom: 2rem;
}

.grid-flow img {
    width: 70%;
}

.grid-flow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 1.5rem;
}

.services {
    padding: 2rem 0;
}

.services h2 {
    text-align: center;
    font-family: 'DreamAvenue';
    font-size: var(--fs-xxlrg);
    color: var(--burgundy);
    margin-bottom: 2rem;
}

.services h3 {
    color: var(--burgundy);
    font-size: var(--fs-lrg);
    margin-bottom: 0.25rem;
}

.services p {
    margin-bottom: 0.25rem;
}

.services a {
    text-decoration: none;
}

.services--img {
    width: 40%;
    border: solid 1px #000;
    border-radius: 999rem;
    background-color: var(--dark-green);
    margin: 2rem auto 1rem auto;
}

.image {
    padding: 1rem;
    margin: 0 auto;
}

.developed {
    background-color: var(--dark-green);
    color: var(--white);
    padding: 2rem 0;
}

.developed h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: var(--fs-xxlrg);
    line-height: 1;
    font-family: 'DreamAvenue';
}

.project {
    background-color: var(--white);
    color: var(--dark-green);
    padding: 1rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 0px 1px 1px #000;
    margin-bottom: 2rem;
    gap: 1rem;
}

.project--image {
    border-radius: 1.5rem;
}

.project--info {
    gap: 0.25rem;
    /* border: solid 2px #000; */
}

.project h3 {
    color: var(--burgundy);
    font-size: var(--fs-lrg);
    font-weight: 1000;
}

.project p {
    margin-bottom: 0.5rem;
}

.project--links {
    /* border: solid 2px black; */
    align-self: stretch;
}

.project--links a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--dark-green);
    border-radius: .5rem;
    padding: 0.5rem 1rem;
}

.project--links a:hover,
.project--links a:focus {
    color: var(--dark-green);
    background-color: var(--white);
    border: solid 1px var(--dark-green);
}

.designed {
    padding: 2rem 0;
}

.design {
    margin-bottom: 2.5rem;
}

.designed h2 {
    font-size: var(--fs-xxlrg);
    color: var(--burgundy);
    line-height: 1;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'DreamAvenue';
}

.design__info {
   gap: 0.3rem;
}

.design__info h3 {
    color: var(--burgundy);
    font-size: var(--fs-lrg);
    font-weight: 1000;
}
